.character-list {
  width: 100%;
  height: calc(100% - var(--header-height));
  padding: 50px 20px;
}

.pagination {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.active-page {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid var(--white);
}