.character {
  width: 100%;
  height: calc(100% - var(--header-height));
  padding: 70px;
}

.img-wrapper {
  position: relative;
}

.img {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  transform:skewX(-5deg);
}

.title {
  position: absolute;
  width: 700px;
  padding: 20px 30px;
  background: rgb(55,101,255);
  background: linear-gradient(135deg, rgba(55,101,255,1) 0%, rgba(7,20,64,1) 75%, rgba(7,20,64,0) 100%);
  left: 312px;
  top: 0;
  z-index: -1;
  transform:skewX(-5deg);

  & > span {
    display: block;
  }
}

.nickname {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  transform:skewX(-5deg);
}

.catch-phrase {
  font-size: 18px;
  font-weight: var(--font-weight-italic);
  font-style: italic;
}

.options-wrapper {
  padding: 30px;
  transform:skewX(-5deg);
  align-self: end;
}

.btn-group {
  margin-top: 50px;
  margin-bottom: 20px;
}