@import-normalize;
@import "./variables";
@import './mixins';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: var(--blue200);
}

%flex-row-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row-middle {
  @extend %flex-row-center-center;
}

body {
  width: 100%;
  height: 100vh;
  @extend %flex-row-center-center;
  margin: 0;
  padding: 0;
  background: rgb(0,0,0);
  background: linear-gradient(135deg, rgb(0,0,0) 0%, rgb(7,20,64) 70%, rgb(4,24,88) 100%);
}

